<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>
<div th:include="navbar"></div>
<div class="container mt-5">
        <div layout:fragment="productsContent">

        </div>
</div>
</body>
</html>